<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>
    <div class="main">
        <h1>学生信息</h1>
        <div class="show">
            <div class="p1">
                <p>学号</p>
                <p th:text="${student.sid}"></p>
            </div>
            <div class="p1">
                <p>姓名</p>
                <p th:text="${student.name}"></p>
            </div>
            <div class="p1">
                <p>性别</p>
                <p th:text="${student.sex}"></p>
            </div>
        </div>
    </div>
</body>

</html>